[submodule "repos/gentoo"]
	path = repos/gentoo
	url = https://github.com/gentoo/gentoo.git
[submodule "repos/musl"]
	path = repos/musl
	url = https://github.com/gentoo/musl.git
[submodule "repos/replica"]
	path = repos/replica
	url = https://github.com/sartura/replica-overlay-main.git
