[Unit]
Description=Extract Wi-Fi calibration data
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/sbin/wifi-cal

[Install]
WantedBy=sysinit.target
